@font-face {
    font-family: "Myriad Pro Cond";
    src: url("../fonts/Myriad\ Pro\ Cond.otf");
}

.container {
    max-width: 1200px;
}

.wrapper-background {
    background: url("../img/bg-white.jpg");
    background-position: -300px -130px;
    margin: 0 auto;

}

.title,
.slogan {
    font-size: 27px;
}

.drink {
    position: absolute;
    top: 230px;
    left: 90px;
    z-index: -1;
}

.popcorn {
    left: 592px;
}

.big-smile img {
    left: 815px;
}

.small-smile{
    display: block;
}

.small-smile img {
    left: 145px;
}

.btn-green {
    background: #27D481;
    margin-bottom: 40px;
    margin-top: -7px;
}

.price {
    position: absolute;
    font-family: "Intro",Arial, sans-serif;
    background: lightcoral;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    transform: rotate(15deg);
    top: 176px;
    right: 16px;
}

    .price h2 {
        font-size: 40px;
        color: white;
    }

    .price h2::before,
    .price h2::after {
        position: absolute;
        font-size: 13px;
        opacity: 0.5;
    }

    .price h2::before {
        content: "от";
        left: 30px;
        top: 50px;
    }

    .price h2::after {
        content: "в месяц";
        right: 30px;
        bottom: 40px;
    }


.logo-burger {
    display: none;
}

ul li {
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
}

ul li:hover {
    color:#ff7200;
}


.menu {
    display: inline-block;
    list-style-type: none;
    font-family: "Myriad Pro Cond",Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #0f5ee0;
}

.enter,
.purchase {
    display: inline-block;
    border-radius: 25px;
    
}

.enter-button,
.purchase-button {
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

.enter-button {
    background: #ff7200;
    padding: 10px 30px;
    margin-right: -30px;
}

.purchase-button {
    background: #27d481;
    padding: 10px 15px;
    margin-right: -30px;
}

.icon-share {
    position: relative;
    display: block;
    height: 28px;
    width: 30px;
    background: url("../img/icon-share.png");
    background-position: 1px -140px;
}

.icon-share:hover {
    background-position: 1px -112px;
}