* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
@font-face {
    font-family: "Intro";
    src: url("INTRO.otf");
}


.container {
    max-width: 320px;
    margin: 10px auto;
    
}

.wrapper {
    max-width: 300px;
    margin: 0 auto;
}


.image {
    display: flex;
    justify-content: space-between;
}

.title h2,
.main-block h2 {
    font-family: "Intro",Arial, sans-serif;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
}

.subscribe {
    font-family: Arial,sans-serif;
    font-size: 16px;
    color: rgb(74, 111, 160);
    text-align: center;
    font-weight: bold;
}

.green-button,
.red-button {
    margin: 0 auto;
    width: 240px;
    line-height: 50px;
    color:#fff;
    border-radius: 27px;
    box-shadow: 0 15px 68px 0 rgba(0,0,0,0.2);
    text-align: center;

}

.green-button {
    background: #27D481;
}

.red-button {
    background: #FF634E;
}

.main-block  {
    position: relative;
    background-image: url("img/bg-green.jpg");
    color: #fff;
    text-align: center;
    
}

.video {
    width: 280px;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
}

.green-button h2,
.red-button h2 {
    font-family: "Intro",Arial, sans-serif;
    font-size: 14px;
}
 
.smile,
.drink,
.popcorn {
    display: none;
}