.title,
.main-block h2 {
    font-size: 24px;
    font-weight: 300;
}

.title {
    letter-spacing: 2px;
    margin-top: 108px;
}

.container {
    max-width: 853px;
}

.description {
    padding: 0 62px;
}

.wrapper-background {
    background: url("img/bg-white.jpg");
    background-position: -404px -127px;
}

.wrapper {
    padding: 0 50px;
}

header {
    margin: 40px 0px 40px 10px;
}

.subscribe {
    margin: 66px 0 80px 0;
    line-height: 17px;
}

.video {
    width: 540px;
    height: 350px;
    z-index: 998;
    
}

.big-smile img {
    position: relative;
    border-radius: 100%;
    top: -2px;
    left: 675px;
    z-index: 999;
    box-shadow: 0 15px 32px 0 rgba(0,0,0,0.2);;
}

.small-smile img {
    position: relative;
    border-radius: 100%;
    top: -32px;
    left: 30px;
    z-index: 998;
    box-shadow: 0 15px 32px 0 rgba(0,0,0,0.2);;
}

.on-tablet {
    display: none;
}

.main-block {
    z-index: 1;
}

.drink,
.popcorn {
    position: absolute;
    z-index: -1;
}
.drink {
    top: 230px;
    left: -60px;
}

.drink img {
    width: 300px;
    height: 380px;
}

.popcorn {
    left: 375px;
}

.popcorn img {
    width: 400px;
    height: 380px;
}

.btn-green,
.btn-red {
    width: 280px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 4px;
}

.btn-green {
    margin-bottom: 42px;
}

.big-smile,
.drink,
.popcorn {
    display: block;
}

.big-smile,
.small-smile {
    height: 0;
}

.slogan {
    letter-spacing: 3px;
}


